.container-view{
    background-color: rgb(189, 125, 125);
    height: auto;
    margin-top: -50px;
    padding: 30px;
}

@media only screen and (max-width : 553px){
    .container-view{
        width: auto;
    }
}
  
  
/* }
table {
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #343a40;
    color: white;
}

tbody tr:hover {
    background-color: #f8f9fa;
}

.table-container {
    padding: 20px;
} */
